---
import '@assets/css/main.scss';
import '@fontsource/sen/400.css';
import '@fontsource/sen/700.css';
import LoadingScreen from '@components/partials/LoadingScreen.astro';
export interface Props {
	title:string;
	description?:string;
  thumbnail?:string;
  url?:URL | '';
  pageKey?:string;
}
const {
  title,
  description = '',
  thumbnail = '',
  url = '',
  pageKey = '',
} = Astro.props;
---

<!DOCTYPE html>
<html lang="ja" data-no-js data-page-key={pageKey}>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="email=no,telephone=no,address=no">
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="white">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="black">
    {/* /favicon.ico はルートに設置するだけで記述しない。 */}
    <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml">
    {/* touch-icon.png の寸法は 180px * 180px */}
    <link rel="apple-touch-icon" href="/touch-icon.png">
    <meta name="description" content={description}>
    <link rel="canonical" href={url}>
    <meta property="og:title" content={title}>
    <meta property="og:type" content="website">
    <meta property="og:url" content={url}>
    <meta property="og:image" content={thumbnail || '/images/placeholder.jpg'}>
    <meta property="og:site_name" content="Arec. とあるウェブ制作者の記録">
    <meta property="og:description" content={description}>
    <meta name="twitter:card" content="summary_large_image">
    { /* TODO: JSON-LD */ }
		<title>{title}</title>
    <script>
      document.documentElement.removeAttribute('data-no-js');
    </script>
    <meta name="generator" content={Astro.generator}>
	</head>
	<body data-is-loaded={false}>
    <LoadingScreen>
      <div class="global-wrapper">
        <slot />
      </div>
      <!-- /.global-wrapper -->
    </LoadingScreen>
	</body>
</html>

<style lang="scss">
  .global-wrapper {
    max-width: var(--global-wrapper-max-width, var(--SCREEN-WIDTH--HD));
    margin-right: auto;
    margin-left: auto;
  }
</style>
